.App {
	text-align: center;
	/*background-color: #282c34;*/
	/*min-height: 100vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.App-messageList {
	width: 50%;
	height: 60vh;
	border-radius: 30px;
	background-color: lightskyblue;
	overflow-y: scroll;
}

.App-messageList::-webkit-scrollbar {
	width: 0;
}

.App-forms {
	width: 50%;
	margin-top: 10px;
}

.form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 20px;
	margin: 5px 0;
}

.from__username {
	width: 10%;
	color: lightskyblue;
	text-align: left;
	font-weight: 900;
}

.form__wrapper {
	width: 90%;
	height: 50px;
	font-size: 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}

.form__input {
	width: 60%;
	height: 100%;
}

.form__button {
	width: 25%;
	color: lightskyblue;
	background-color: indigo;
	padding: 20px;
	border: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
